<div role='banner' class="post-header_sson">
	{{#if @blog.logo}}
		<a class="logo_sson" href="{{@blog.url}}">
			<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
		</a>
	{{/if}}

	{{#post}}
  	<h1 class="post-title">{{{title}}}</h1>

  	{{#if author}}
	    {{#if author.name}}
  	    <div class="post-author_sson">
    	    <span itemprop="author_sson">
      	    By <a href="/about">{{author.name}}</a>
        	</span>
      	</div>
    	{{/if}}
  	{{/if}}

		<span class="post-header-meta">
      <time class="date_sson" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
        {{date format='dddd DD MMM YYYY'}}
      </time>

      {{#if tags}}
        {{tags prefix=" on " separator=" | "}}
      {{/if}}
		</span>
  {{/post}}
	<center>
		<a href="#posts" class="post-topofpage">
			<i class="fa fa-angle-down"></i>
		</a>
	</center>

</div>