{{!< default}}


<main class="main_sson module content" role="main">
  {{#foreach posts}}
    <article id="blog" class="article_sson" role="article" itemscope itemtype="http://schema.org/Article">
      <header class="postheader_sson">
        <h1 class="posttitle_sson" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
      </header>

      <div class="postcontent_sson" itemprop="articleBody">
        {{excerpt words="40"}}...
      </div>

      <footer class="postfooter_sson">
        <time class="date_sson" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
          {{date format='dddd DD MMM YYYY'}}
        </time>

        {{#if tags}}
          <div class="posttags_sson">
            # {{tags separator=" | "}}
          </div>
        {{/if}}

        {{#if author}}
          {{#if author.name}}
            <div class="author_sson">
              <span itemprop="author_sson">
                By <a href="{{url}}">{{author.name}}</a>
              </span>
            </div>
          {{/if}}
        {{/if}}

      </footer>

      <h5 class="index-headline">
       <span>×</span>
      </h5>
    </article>
  {{/foreach}}

  {{#if pagination}}
    <div class="pagination_sson">
      {{{pagination}}}
    </div>
  {{/if}}
</main>
{{> footer}}